<aside class="app-aside app-aside-expand-md app-aside-light">
</aside><!-- /.app-aside -->
<!-- .app-main -->
<main class="app-main">
  <!-- .wrapper -->
  <div class="wrapper">
    <!-- .page -->
    <div class="page has-sidebar has-sidebar-fluid has-sidebar-expand-xl">
      <!-- .page-inner -->
      <div class="page-inner page-inner-fill position-relative">
        <header class="page-navs bg-light shadow-sm">
          <!-- .input-group -->
          <div class="input-group has-clearable">
            <button type="button" class="close" aria-label="Close"><span aria-hidden="true"><i
                  class="fa fa-times-circle" (click)="getAllUser()"></i></span></button> <label
              class="input-group-prepend" for="searchClients"><span class="input-group-text"><span
                  class="oi oi-magnifying-glass" (click)="searchUser()" [hidden]="!userSearchStr"></span></span></label>
            <input type="text" class="form-control" id="searchUsers" [(ngModel)]="userSearchStr"
              placeholder="Find User">
          </div>
        </header><button type="button" class="btn btn-primary btn-floated position-absolute" data-toggle="modal"
          data-target="#userModal" title="Add new client"><i class="fa fa-plus"></i></button> <!-- board -->

        <perfect-scrollbar [config]="config">
          <!-- .list-group -->
          <div class=" list-group list-group-flush list-group-divider border-top" data-toggle="radiolist"
            *ngFor="let user of allUsers ">
            <!-- .list-group-item -->
            <div class="list-group-item active" data-toggle="sidebar" data-sidebar="show">
              <div class="ps__thumb-y" tabindex="0" style="top: 0px"></div>
              <a (click)="getUserDetails(user)" style="cursor: pointer;" class="stretched-link"></a>
              <!-- .list-group-item-figure -->

              <div class="list-group-item-figure">
                <div class="tile tile-circle bg-info"> {{user.firstname.charAt(0).toUpperCase()}} </div>
              </div><!-- /.list-group-item-figure -->
              <!-- .list-group-item-body -->
              <div class="list-group-item-body">
                <h3 class="list-group-item-title"> {{user.firstname}} {{user.lastname}} </h3>
              </div><!-- /.list-group-item-body -->

            </div><!-- /.list-group-item -->

          </div><!-- /.list-group -->
        </perfect-scrollbar><!-- /board -->
      </div><!-- /.page-inner -->
      <!-- .page-sidebar -->

      <div class="page-sidebar bg-light">
        <!-- .sidebar-header -->
        <header class="sidebar-header d-xl-none">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item active">
                <a onclick="Looper.toggleSidebar()"><i class="breadcrumb-icon fa fa-angle-left mr-2"></i>Back</a>
              </li>
            </ol>
          </nav>
        </header><!-- /.sidebar-header -->
        <!-- .sidebar-section -->
        <div class="sidebar-section sidebar-section-fill" *ngIf="allUsers && allUsers.length">
          <h1 class="page-title">
            <i class="fas fa-user text-muted mr-2"></i> {{selectedUser.firstname}} {{selectedUser.lastname}} </h1>
          <p class="text-muted"> Pakistan </p><!-- .nav-scroller -->
          <div class="nav-scroller border-bottom">
            <!-- .nav-tabs -->
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active show" data-toggle="tab" href="#client-billing-contact">Billing & Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#attendance">Attendance</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#leave">Leave</a>
              </li>
            </ul><!-- /.nav-tabs -->
          </div><!-- /.nav-scroller -->
          <!-- .tab-content -->
          <div class="tab-content pt-4" id="clientDetailsTabs">
            <!-- .tab-pane -->
            <div class="tab-pane fade show active" id="client-billing-contact" role="tabpanel"
              aria-labelledby="client-billing-contact-tab">
              <!-- .card -->
              <div class="card">
                <!-- .card-body -->
                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center">
                    <h2 id="client-billing-contact-tab" class="card-title"> Address </h2>
                  </div>
                  <address> {{selectedUser.address}}<br> Pakistan </address>
                </div><!-- /.card-body -->
              </div><!-- /.card -->
              <!-- .card -->
              <div class="card mt-4">
                <!-- .card-body -->
                <div class="card-body">
                  <h2 class="card-title"> Contacts </h2><!-- .table-responsive -->
                  <div class="table-responsive">
                    <table class="table table-hover" style="min-width: 678px">
                      <thead>
                        <tr>
                          <th> Name </th>
                          <th> Email </th>
                          <th> Phone </th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="align-middle">{{selectedUser.firstname}} {{selectedUser.lastname}} </td>
                          <td class="align-middle">{{selectedUser.email}}</td>
                          <td class="align-middle">{{selectedUser.phone}} </td>
                          <td class="align-middle text-right">
                            <button type="button"
                              (click)="performUpdateAndDeleteOperation('user','edit',selectedUser._id)"
                              class="btn btn-sm btn-icon btn-secondary" data-toggle="modal"><i
                                class="fa fa-pencil-alt"></i> <span class="sr-only">Edit</span></button>
                            <button type="button"
                              (click)="performUpdateAndDeleteOperation('user','delete',selectedUser._id)"
                              class="btn btn-sm btn-icon btn-secondary"><i class="far fa-trash-alt"></i> <span
                                class="sr-only">Remove</span></button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div><!-- /.table-responsive -->
                </div><!-- /.card-body -->
              </div><!-- /.card -->
            </div><!-- /.tab-pane -->

            <!-- .tab-pane -->
            <div class="tab-pane fade" id="leave" role="tabpanel" aria-labelledby="leave-tab">
              <!-- .card -->
              <div class="card">
                <div class="wrapper">
                  <!-- .page -->
                  <div class="page">
                    <!-- .page-inner -->
                    <div class="page-inner">
                      <!-- .page-title-bar -->
                      <header class="page-title-bar">
                        <div class="d-md-flex align-items-md-start">
                          <h1 class="page-title mr-sm-auto">Employee Leave Table </h1><!-- .btn-toolbar -->
                          <div class="btn-toolbar">
                            <!-- <button type="button" class="btn btn-light"><i class="oi oi-data-transfer-download"></i>
                              <span class="ml-1">Export</span></button>
                            <button type="button" class="btn btn-light"><i class="oi oi-data-transfer-upload"></i> <span
                                class="ml-1">Import</span></button> -->
                            <button type="button" class="btn btn-primary btn-floated position-initial"
                              data-toggle="modal" data-target="#leaveNewModal" title="Add new Leave"><i
                                class="fa fa-plus"></i></button>
                          </div><!-- /.btn-toolbar -->
                        </div><!-- /title and toolbar -->
                      </header><!-- /.page-title-bar -->
                      <!-- board -->
                      <!-- .page-section -->
                      <div class="page-section">
                        <!-- .card -->
                        <div class="card card-fluid">
                          <div class="card-body">
                            <!-- .form-group -->
                            <div class="form-group">

                              <div class="input-group input-group-alt">

                                <div class="input-group-prepend">

                                  <select class="custom-select" id="attendanceType" name="attendanceType"
                                    (change)="filterAttendanceAndLeave('leave')" [(ngModel)]="attendanceFilter.type">
                                    <option *ngFor="let type of attendanceTypes" [value]="type.value">{{type.name}}
                                    </option>
                                  </select>
                                </div>
                                <div [hidden]="attendanceFilter.type !== 'custom'">
                                  <div class="form-group">
                                    <input placeholder="Select Start Date" [(ngModel)]="attendanceFilter.startDate" name="checkIndate"
                                      class="form-control" [owlDateTimeTrigger]="dtPicker1" [owlDateTime]="dtPicker1">
                                    <owl-date-time #dtPicker1 [firstDayOfWeek]="firstDayofWeek" [pickerType]="'calendar'">
                                    </owl-date-time>
                                    <input placeholder="Select End Date" [(ngModel)]="attendanceFilter.endDate" name="startDate"
                                      class="form-control" [owlDateTimeTrigger]="dtPicker2" [owlDateTime]="dtPicker2">
                                    <owl-date-time #dtPicker2 [firstDayOfWeek]="firstDayofWeek" [pickerType]="'calendar'">
                                    </owl-date-time>
                                    <button class="btn btn-outline-primary form-control" (click)="customAttendanceAndLeaveFilter('leave')"> Search </button>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <!-- /.form-group -->
                            <!-- .table-responsive -->
                            <div>

                              <div class="table-responsive">
                                <!-- .table -->
                                <table class="table">
                                  <!-- thead -->
                                  <thead>
                                    <tr>
                                      <th> Type </th>
                                      <th> Status </th>
                                      <th> From </th>
                                      <th> To </th>
                                    </tr>
                                  </thead><!-- /thead -->
                                  <!-- tbody -->
                                  <div *ngIf="userLeave && userLeave.data && userLeave.data.length">
                                    <tbody *ngFor="let leave of userLeave.data  let i = index">
                                      <!-- tr -->
                                      <tr>
                                        <td class="align-middle"> {{leave.type}} </td>
                                        <td class="align-middle"> {{leave.status}} </td>
                                        <td class="align-middle"> {{leave.fromDate| date}} </td>
                                        <td class="align-middle"> {{leave.toDate| date}} </td>
                                        <td class="align-middle text-right">
                                          <a class="btn btn-sm btn-icon btn-secondary"><i class="fa fa-pencil-alt"
                                              (click)="performUpdateAndDeleteOperation('leave','edit',leave._id)"></i>
                                            <span class="sr-only">Edit</span></a> <a
                                            class="btn btn-sm btn-icon btn-secondary"><i class="far fa-trash-alt"
                                              (click)="performUpdateAndDeleteOperation('leave','delete',leave._id)"></i>
                                            <span class="sr-only">Remove</span></a>
                                        </td>
                                      </tr><!-- /tr -->
                                      <!-- tr -->

                                    </tbody><!-- /tbody -->
                                  </div>
                                </table><!-- /.table -->
                              </div><!-- /.table-responsive -->
                            </div>
                            <!-- .pagination -->
                            <ul class="pagination justify-content-center mt-4" *ngFor="let count of totalLeaveCounts">

                              <li class="page-item">

                                <a class="page-link" (click)="getTablePageNumber('leave',count)">{{count}}</a>

                              </li>
                            </ul><!-- /.pagination -->
                          </div><!-- /.card-body -->
                        </div><!-- /.card -->
                      </div><!-- /.page-section -->
                    </div><!-- /.page-inner -->
                  </div><!-- /.page -->
                </div><!-- .app-footer -->
              </div><!-- /.card -->
            </div><!-- /.tab-pane -->
            <!-- .tab-pane -->
            <div class="tab-pane fade" id="attendance" role="tabpanel" aria-labelledby="attendance-tab">
              <!-- .card -->
              <div class="card">
                <div class="wrapper">
                  <!-- .page -->
                  <div class="page">
                    <!-- .page-inner -->
                    <div class="page-inner">
                      <!-- .page-title-bar -->
                      <header class="page-title-bar">
                        <!-- title and toolbar -->
                        <div class="d-md-flex align-items-md-start">
                          <h1 class="page-title mr-sm-auto"> Employee Attendance Table </h1><!-- .btn-toolbar -->
                          <div class="btn-toolbar">
                            <!-- <button type="button" class="btn btn-light"><i class="oi oi-data-transfer-download"></i>
                              <span class="ml-1">Export</span></button>
                            <button type="button" class="btn btn-light"><i class="oi oi-data-transfer-upload"></i> <span
                                class="ml-1">Import</span></button> -->
                            <button type="button" class="btn btn-primary btn-floated position-initial"
                              data-toggle="modal" data-target="#attendanceNewModal" title="Add new Attendance"><i
                                class="fa fa-plus"></i></button>
                          </div><!-- /.btn-toolbar -->
                        </div><!-- /title and toolbar -->
                      </header><!-- /.page-title-bar -->
                      <!-- board -->
                      <!-- .page-section -->
                      <div class="page-section">
                        <!-- .card -->
                        <div class="card card-fluid">
                          <div class="card-body">
                            <!-- .form-group -->
                            <div class="form-group">
                              <!-- .input-group -->
                              <div class="input-group input-group-alt">
                                <!-- .input-group-prepend -->
                                <div class="input-group-prepend">
                                  <select class="custom-select" id="attendanceType" name="attendanceType"
                                    (change)="filterAttendanceAndLeave('attendance')"
                                    [(ngModel)]="attendanceFilter.type">
                                    <option *ngFor="let type of attendanceTypes" [value]="type.value">{{type.name}}
                                    </option>
                                  </select>
                                </div><!-- /.input-group-prepend -->

                                  <div [hidden]="attendanceFilter.type !== 'custom'">
                                    <div class="form-group">
                                      <input placeholder="Select Start Date" [(ngModel)]="attendanceFilter.startDate" name="checkIndate"
                                        class="form-control" [owlDateTimeTrigger]="dtPicker9" [owlDateTime]="dtPicker9">
                                      <owl-date-time #dtPicker9 [firstDayOfWeek]="firstDayofWeek" [pickerType]="'calendar'">
                                      </owl-date-time>
                                      <input placeholder="Select End Date" [(ngModel)]="attendanceFilter.endDate" name="startDate"
                                        class="form-control" [owlDateTimeTrigger]="dtPicker10" [owlDateTime]="dtPicker10">
                                      <owl-date-time #dtPicker10 [firstDayOfWeek]="firstDayofWeek" [pickerType]="'calendar'">
                                      </owl-date-time>
                                      <button class="btn btn-outline-primary form-control"  (click)="customAttendanceAndLeaveFilter('attendance')"> Search </button>
                                    </div>
                                  </div>
                              </div><!-- /.input-group -->
                            </div><!-- /.form-group -->
                            <!-- .table-responsive -->
                            <div>
                              <div class="table-responsive">
                                <!-- .table -->
                                <table class="table">
                                  <!-- thead -->
                                  <thead>
                                    <tr>
                                      <th> Date </th>
                                      <th> Check In </th>
                                      <th> Break Start </th>
                                      <th> Break End </th>
                                      <th> Check Out </th>
                                      <th> Total Hours </th>
                                    </tr>
                                  </thead><!-- /thead -->
                                  <!-- tbody -->
                                  <div *ngIf="userAttendance && userAttendance.data && userAttendance.data.length">
                                    <tbody *ngFor="let attendance of userAttendance.data  let i = index">
                                      <!-- tr -->
                                      <tr>
                                        <td class="align-middle"> {{attendance.date |date}} </td>
                                        <td class="align-middle"> {{attendance.checkIn | date:'shortTime'}} </td>
                                        <td class="align-middle"> {{attendance.breakStartTime| date:'shortTime'}} </td>
                                        <td class="align-middle"> {{attendance.breakEndTime| date:'shortTime'}} </td>
                                        <td class="align-middle"> {{attendance.checkOut| date:'shortTime'}} </td>
                                        <td class="align-middle"> {{getAvailableTime(attendance)}} </td>
                                        <td class="align-middle text-right">
                                          <a class="btn btn-sm btn-icon btn-secondary"><i class="fa fa-pencil-alt"
                                              (click)="performUpdateAndDeleteOperation('attendance','edit',attendance._id)"></i>
                                            <span class="sr-only">Edit</span></a> <a
                                            class="btn btn-sm btn-icon btn-secondary"><i class="far fa-trash-alt"
                                              (click)="performUpdateAndDeleteOperation('attendance','delete',attendance._id)"></i>
                                            <span class="sr-only">Remove</span></a>
                                        </td>
                                      </tr><!-- /tr -->
                                      <!-- tr -->

                                    </tbody><!-- /tbody -->
                                  </div>
                                </table><!-- /.table -->
                              </div><!-- /.table-responsive -->
                            </div>
                            <!-- .pagination -->
                            <ul class="pagination justify-content-center mt-4"
                              *ngFor="let count of totalAttendanceCounts">
                              <li class="page-item">
                                <a class="page-link" (click)="getTablePageNumber('attendance',count)">{{count}}</a>
                              </li>
                            </ul><!-- /.pagination -->
                          </div><!-- /.card-body -->
                        </div><!-- /.card -->
                      </div><!-- /.page-section -->
                    </div><!-- /.page-inner -->
                  </div><!-- /.page -->
                </div><!-- .app-footer -->
              </div><!-- /.card -->
            </div><!-- /.tab-pane -->
          </div><!-- /.tab-content -->
        </div><!-- /.sidebar-section -->
      </div><!-- /.page-sidebar -->
      <!-- Keep in mind that modals should be placed outsite of page sidebar -->
      <!-- .modal -->


      <form name="form" #form="ngForm">
        <div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="clientNewModalLabel"
          aria-hidden="true">
          <!-- .modal-dialog -->
          <div class="modal-dialog" role="document">
            <!-- .modal-content -->
            <div class="modal-content">
              <div class="modal-header">

              </div><!-- /.modal-header -->

              <!-- .modal-body -->
              <div class="modal-body">
                <!-- .form-row -->
                <div class="form-row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="firstname">First Name</label>
                      <input type="text" required #firstname="ngModel" id="FirstName" name="firstname"
                        [(ngModel)]="model.firstname" placeholder="Enter First Name" class="form-control">
                    </div>
                    <div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)" class="alert alert-danger">
                      <label>
                        First Name is Required
                      </label>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="lastname">Last Name</label>
                      <input type="text" required #lastname="ngModel" id="LastName" name="lastname"
                        [(ngModel)]="model.lastname" placeholder="Enter Last Name" class="form-control">
                    </div>
                    <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)" class="alert alert-danger">
                      <label>
                        Last Name is Required
                      </label>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="username">User Name</label>
                      <input type="text" required #username="ngModel" id="UserName" name="username"
                        [(ngModel)]="model.username" placeholder="Enter User Name" class="form-control">
                    </div>
                    <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
                      <label>
                        User Name is Required
                      </label>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="password">Password</label>
                      <input type="password" required #password="ngModel" id="Password" name="password"
                        [(ngModel)]="model.password" placeholder="Enter Password" pattern="^.{6,10}$"
                        class="form-control">
                    </div>
                    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                      <label>
                        Password is Required
                      </label>
                    </div>
                    <div *ngIf="password.errors?.pattern" id="card-errors" class="alert alert-danger col-12"
                      style="color:#f2665c;" role="alert">
                      Password Must be more than 6 to 10 Chracter or Number
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="confirmpassword">Confirm Password</label>
                      <input type="password" type="password" id="confirmpassword" name="confirmpassword"
                        placeholder=" Confirm Password" #confirmPassword="ngModel" ngModel required
                        class="form-control">
                    </div>
                    <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)"
                      class="alert alert-danger">
                      <label>
                        Confirm Password is Required
                      </label>
                    </div>
                    <div *ngIf="confirmPassword.valid && model.password !== confirmPassword.value" id="card-errors"
                      class="alert alert-danger col-12" style="color:#f2665c;" role="alert">
                      Password does not match
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="cnic">CNIC</label>
                      <input type="text" required #cnic="ngModel" id="cnic" name="cnic" [(ngModel)]="model.CNIC"
                        placeholder="Enter CNIC" pattern="^[0-9]{13}$" class="form-control">
                    </div>
                    <div *ngIf="cnic.errors?.required && (cnic.dirty || cnic.touched)" class="alert alert-danger">
                      <label>
                        Invalid CNIC Number
                      </label>
                    </div>
                    <div *ngIf="cnic.errors?.pattern" id="card-errors" class="alert alert-danger col-12"
                      style="color:#f2665c;" role="alert">
                      Invalid CNIC Number Must be Like:1234590832617
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="phonenumber">Phone Number</label>
                      <input type="text" required #phoneNumber="ngModel" id="PhoneNumber" name="phoneNumber"
                        [(ngModel)]="model.phone" placeholder="Enter Phone Number" maxlength="15" pattern="^[0-9]{11}$"
                        class="form-control">
                    </div>
                    <div *ngIf="phoneNumber.errors?.required && (phoneNumber.dirty || phoneNumber.touched)"
                      class="alert alert-danger">
                      <label>
                        Invalid Phone Number
                      </label>
                    </div>
                    <div *ngIf="phoneNumber.errors?.pattern" id="card-errors" class="alert alert-danger col-12"
                      style="color:#f2665c;" role="alert">
                      Invalid Phone Number Must be Like:03001234567
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="emailaddress">Email Address</label>
                      <input type="text" required #emailAddress="ngModel" id="emailAddress" name="emailAddress"
                        [(ngModel)]="model.email" placeholder="Enter Email Address"
                        pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" class="form-control">
                    </div>
                    <div *ngIf="emailAddress.invalid && emailAddress.touched" class="alert alert-danger">
                      <label>
                        Email Address is Required
                      </label>
                    </div>
                    <div *ngIf="emailAddress.errors?.pattern" class="alert alert-danger">
                      <label>
                        Invalid Email address
                      </label>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="address">Address</label>
                      <input type="text" required #address="ngModel" id="Address" name="address"
                        [(ngModel)]="model.address" placeholder="Enter Address" class="form-control">
                    </div>
                    <div *ngIf="address.invalid && (address.dirty || address.touched)" class="alert alert-danger">
                      <label>
                        Address is Required
                      </label>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" [(ngModel)]="model.active" name="userActive">
                        <label><span>Active</span></label>
                      </div>
                    </div>
                  </div>
                </div><!-- /.form-row -->
              </div><!-- /.modal-body -->
              <!-- .modal-footer -->
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary" [disabled]="form.invalid" (click)="save('user')"
                  data-dismiss="modal">Save</button> <button type="button" class="btn btn-light"
                  data-dismiss="modal">Close</button>
              </div><!-- /.modal-footer -->
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div>
      </form><!-- /.modal -->

      <form name="attendanceForm" #attendanceForm="ngForm">
        <div class="modal fade" id="attendanceNewModal" tabindex="-1" role="dialog" aria-labelledby="attendanceLabel"
          aria-hidden="true">
          <!-- .modal-dialog -->
          <div class="modal-dialog" role="document">
            <!-- .modal-content -->
            <div class="modal-content">
              <div class="modal-header" >
                <h6 id="clientNewModalLabel" class="modal-title inline-editable">
                  <span>{{selectedUser.firstname}} {{selectedUser.lastname}}</span>
                </h6>
              </div>
              <div class="modal-body">
                <div class="form-row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="comment">Comment</label>
                      <input type="text" #comment="ngModel" id="comment" name="comment"
                        [(ngModel)]="modelAttendance.comment" minlength="3" placeholder="Enter Comment"
                        class="form-control">
                    </div>
                    <div *ngIf="comment.errors?.minlength" id="card-errors" class="alert alert-danger col-12"
                      style="color:#f2665c;" role="alert">
                      Comment Must be Greator then 3 Chracter
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="date">Date</label>
                      <input placeholder="Select Date" [(ngModel)]="modelAttendance.date" name="date"
                        class="form-control" [owlDateTimeTrigger]="dtPicker5" [owlDateTime]="dtPicker5" #date="ngModel"
                        required>
                      <owl-date-time #dtPicker5 [firstDayOfWeek]="firstDayofWeek" [pickerType]="'calendar'">
                      </owl-date-time>
                    </div>
                    <div *ngIf="date.errors?.required && (date.dirty || date.touched)" class="alert alert-danger">
                      <label>
                        Date is Required
                      </label>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="checkIn">Check in Time</label>
                      <input placeholder=" Select CheckIn  Time" [(ngModel)]="modelAttendance.checkIn"
                        name="checkInTime" class="form-control" [owlDateTimeTrigger]="dtPicker1"
                        [owlDateTime]="dtPicker1" #checkInTime="ngModel" required>
                      <owl-date-time #dtPicker1 [hour12Timer]="hour12Timer" [pickerType]="'timer'"></owl-date-time>
                    </div>
                    <div *ngIf="checkInTime.invalid && (checkInTime.dirty || checkInTime.touched)"
                      class="alert alert-danger">
                      <label>
                        CheckIn Time is Required
                      </label>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="checkOut">CheckOut Time</label>
                      <input placeholder="Select CheckOut Time" [(ngModel)]="modelAttendance.checkOut"
                        name="checkOutTime" class="form-control" [owlDateTimeTrigger]="dtPicker2"
                        [owlDateTime]="dtPicker2" #checkOutTime="ngModel" required>
                      <owl-date-time #dtPicker2 [hour12Timer]="hour12Timer" [pickerType]="'timer'"></owl-date-time>
                    </div>
                    <div *ngIf="checkOutTime.invalid && (checkOutTime.dirty || checkOutTime.touched)"
                      class="alert alert-danger">
                      <label>
                        CheckOut Time is Required
                      </label>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="breakStart">Break Start Time</label>
                      <input placeholder="Break Start Date and Time" [(ngModel)]="modelAttendance.breakStartTime"
                        name="breakStartTime" class="form-control" [owlDateTimeTrigger]="dtPicker3"
                        [owlDateTime]="dtPicker3">
                      <owl-date-time #dtPicker3 [hour12Timer]="hour12Timer" [pickerType]="'timer'"></owl-date-time>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="breakEnd">Break End Time</label>
                      <input placeholder="Select Break End Time" [(ngModel)]="modelAttendance.breakEndTime"
                        name="breakEnd date" class="form-control" [owlDateTimeTrigger]="dtPicker4"
                        [owlDateTime]="dtPicker4">
                      <owl-date-time #dtPicker4 [hour12Timer]="hour12Timer" [pickerType]="'timer'"></owl-date-time>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" [(ngModel)]="modelAttendance.active" name="attendanceActive">
                        <label><span>Active</span></label>
                      </div>
                    </div>
                  </div>
                </div><!-- /.form-row -->
              </div><!-- /.modal-body -->
              <!-- .modal-footer -->
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary" [disabled]="attendanceForm.invalid" data-dismiss="modal"
                  (click)="save('attendance')">Save</button> <button type="button" class="btn btn-light"
                  data-dismiss="modal">Close</button>
              </div><!-- /.modal-footer -->
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div>
      </form><!-- /.modal -->
      <form name="leaveForm" #leaveForm="ngForm">
        <div class="modal fade" id="leaveNewModal" tabindex="-1" role="dialog" aria-labelledby="leaveLabel"
          aria-hidden="true">
          <!-- .modal-dialog -->
          <div class="modal-dialog" role="document">
            <!-- .modal-content -->
            <div class="modal-content">
              <div class="modal-header">
                <h6 id="clientNewModalLabel" class="modal-title inline-editable">
                  <span>{{selectedUser.firstname}} {{selectedUser.lastname}}</span>
                </h6>
              </div>
              <div class="modal-body">
                <div class="form-row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="date">Start Date</label>
                      <input placeholder="Select Start Date" [(ngModel)]="modelLeave.startDate" name="startDate"
                        class="form-control" [owlDateTimeTrigger]="dtPicker6" [owlDateTime]="dtPicker6" #startDate="ngModel"
                        required>
                      <owl-date-time #dtPicker6 [firstDayOfWeek]="firstDayofWeek" [pickerType]="'calendar'">
                      </owl-date-time>
                    </div>
                    <div *ngIf="startDate.errors?.required && (startDate.dirty || startDate.touched)" class="alert alert-danger">
                      <label>
                        Start Date is Required
                      </label>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="date">Start Date</label>
                      <input placeholder="Select Start Date" [(ngModel)]="modelLeave.endDate" name="endDate"
                        class="form-control" [owlDateTimeTrigger]="dtPicker7" [owlDateTime]="dtPicker7" #endDate="ngModel"
                        required>
                      <owl-date-time #dtPicker7 [firstDayOfWeek]="firstDayofWeek" [pickerType]="'calendar'">
                      </owl-date-time>
                    </div>
                    <div *ngIf="endDate.errors?.required && (endDate.dirty || endDate.touched)" class="alert alert-danger">
                      <label>
                        End Date is Required
                      </label>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="breakEnd">Leave Type</label>
                      <select class="custom-select" id="leaveType" name="leaveType" [(ngModel)]="modelLeave.type"
                        required>
                        <option [value]="undefined" disabled selected> Select Leave Type</option>
                        <option *ngFor="let leave of leaveTypes" [value]="leave.value">{{leave.name}}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="breakEnd">Leave Status</label>
                      <select class="custom-select" id="leaveStatusType" name="leaveStatusType"
                        [(ngModel)]="modelLeave.status" required>
                        <option [value]="undefined" disabled selected> Select Leave Status</option>
                        <option *ngFor="let status of leaveStatuses" [value]="status.value">{{status.name}}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="date">Description</label>
                      <textarea id="leaveDescription" style="height: 100px;" name="leaveDescription" required
                        class="form-control" #leaveDescription="ngModel" [(ngModel)]="modelLeave.description"
                        #leaveDescription="ngModel" required></textarea>
                    </div>
                    <div *ngIf="leaveDescription.invalid && (leaveDescription.dirty || leaveDescription.touched)"
                      class="alert alert-danger">
                      <label>
                        Leave Description is Required
                      </label>
                    </div>
                  </div>
                </div><!-- /.form-row -->
              </div><!-- /.modal-body -->
              <!-- .modal-footer -->
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary" [disabled]="leaveForm.invalid" data-dismiss="modal"
                  (click)="save('leave')">Save</button> <button type="button" class="btn btn-light"
                  data-dismiss="modal">Close</button>
              </div><!-- /.modal-footer -->
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div>
      </form><!-- /.modal -->
    </div><!-- /.page -->
  </div><!-- /.wrapper -->
</main><!-- /.app-main -->