<div class="app">
    <aside class="app-aside app-aside-expand-md app-aside-light"></aside>
    <main class="app-main">
        <div class="wrapper">
            <!-- .page -->
            <div class="page">
                <!-- .page-cover -->
                <header class="page-cover">
                    <div class="text-center">
                        <div class="user-avatar user-avatar-xl fileinput-button">
                            <div class="fileinput-button-label"> Change photo </div>
                            <!-- <img [src]="user.photo" alt=""> -->
                            <img src="assets/images/avatars/unknown-profile.jpg" alt="">
                            <input type="file" id="fileupload-avatar" name="avatar" (change)="uploadPhoto($event)">
                        </div>

                        <h2 class="h4 mt-2 mb-0"> {{user.firstname}} {{user.lastname}} </h2>
                        <div class="my-1">
                            <a class="btn btn-light"> Email: {{user.email}}</a>
                            <a class="btn btn-light">Phone Number: {{user.phone}} </a>
                            <a class="btn btn-light">CNIC: {{user.CNIC}} </a>
                        </div>
                        <p class="text-muted"> {{role}} </p>
                        <p> Huge fan of HTML, CSS and Javascript. Web design and open source lover. </p>
                    </div>
                </header>
            </div>
        </div>
    </main>
</div>