<div class="app">
    <aside class="app-aside app-aside-expand-md app-aside-light"></aside>
    <main class="app-main">
        <div class="wrapper">
            <div class="page">
                <div class="page-inner">
                    <div class="page-section">
                        <form class="auth-form" style="width: 100%;" name="loginForm" #form="ngForm">
                            <div class="form-group">
                                <div class="form-label-group">
                                    <label>Current Password</label>
                                    <input type="password" id="oldPassword" name="oldPassword" required
                                        class="form-control" #oldPassword="ngModel" [(ngModel)]="user.oldPassword">
                                </div>
                                <div *ngIf="oldPassword.errors?.required && oldPassword.touched "
                                    class="alert alert-danger">
                                    Old Password is Required.
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-label-group">
                                    <label>New Password</label>
                                    <input type="password" required #password="ngModel" id="Password" name="password"
                                        [(ngModel)]="user.password" class="form-control" pattern="^.{6}$">

                                    <div *ngIf="password.invalid && (password.dirty || password.touched)"
                                        class="alert alert-danger">
                                        <label>
                                            Password is Required
                                        </label>
                                    </div>
                                    <div *ngIf="password.errors?.pattern" id="card-errors"
                                        class="alert alert-danger col-12" style="color:#f2665c;" role="alert">
                                        Password Must be minimun 6 Characters long
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-label-group">
                                    <label>Confirm New Password</label>
                                    <input type="password" id="confirmpassword" name="confirmpassword"
                                        class="form-control" #confirmPassword="ngModel" ngModel required>
                                    <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)"
                                        class="alert alert-danger">
                                        <label>
                                            Confirm Password is Required
                                        </label>
                                    </div>
                                    <div *ngIf="confirmPassword.valid && user.password !== confirmPassword.value"
                                        id="card-errors" class="alert alert-danger col-12" style="color:#f2665c;"
                                        role="alert">
                                        Password does not match
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-label-group">
                                    <button type="submit" class="btn btn-primary" [disabled]="form.invalid"
                                        (click)="changePassword()">Change</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>