<div class="app">

    <aside class="app-aside app-aside-expand-md app-aside-light">
    </aside>
    <main class="app-main">
        <div class="wrapper">
            <div class="page">
                <div class="page-inner">
                    <div class="page-section">
                        <form class="auth-form" style="width: 100%;" name="form" #form="ngForm">
                  
                            <div class="input-group-prepend">
                                <select class="custom-select" (change)="leaveType($event)">
                                    <option selected disabled> Choose Leave Type </option>
                                    <option value="sickLeave"> Sick Leave </option>
                                    <option value="weedingLeave"> Weeding Leave </option>
                                    <option value="personalLeave"> Personal Leave </option>
                                    <option value="bereavement"> Bereavement Leave </option>
                                    <option value="examsLeave"> Exams Leave </option>
                                    <option value="emergencyLeave"> Emergency Leave </option>
                                </select>
                            </div><!-- /.input-group-prepend -->

                            <br>
                            <div class="form-group">
                                <label>Description About Leave</label>
                                <div class="form-label-group">
                                   
                                    <textarea  id="leaveDescription" style="height: 100px;" name="leaveDescription" required
                                        class="form-control" #leaveDescription="ngModel" [(ngModel)]="model.description"></textarea>
                                </div>
                                <div *ngIf="leaveDescription.errors?.required && leaveDescription.touched "
                                    class="alert alert-danger">
                                    Description is Required.
                                </div>
                            </div>
                          
                          
                            <div class="form-group">
                                <div class="form-label-group">
                                    <button type="submit" class="btn btn-primary"
                                        [disabled]="form.invalid || !model.leaveType">Submit Leave</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>