<header class="p-2">
    <a class="logout" [routerLink]="['/login']" [queryParams]="{logout: true}">
      Logout</a>
  </header>

  Hi {{fullname}}!

<button type="button" (click)="checkIn()" class="btn btn-primary float-left">Checkin</button>
<button type="button" (click)="checkOut()" class="btn btn-primary float-left">Checkout</button>
<button type="button" (click)="breakStart()" class="btn btn-primary float-left">Start Break</button>
<button type="button" (click)="breakEnd()" class="btn btn-primary float-left">End Break</button>