<form style="width: 100%;" name="form" #form="ngForm">
    <div class="row d-flex">
        <div class="form-group col-md-6 col-12 ">
            <mat-form-field>
                <input matInput type="text" required #firstname="ngModel" id="FirstName" name="firstname"
                    [(ngModel)]="model.firstname" placeholder="Enter First Name">
            </mat-form-field>
            <div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)" class="alert alert-danger">
                <label>
                    First Name is Required
                </label>
            </div>
        </div>
        <div class="form-group col-md-6 col-12 ">
            <mat-form-field>
                <input matInput type="text" required #lastname="ngModel" id="LastName" name="lastname"
                    [(ngModel)]="model.lastname" placeholder="Enter Last Name">
            </mat-form-field>
            <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)" class="alert alert-danger">
                <label>
                    Last Name is Required
                </label>
            </div>
        </div>
        <div class="form-group col-md-6 col-12 ">
            <mat-form-field>
                <input matInput type="text" required #username="ngModel" id="UserName" name="username"
                    [(ngModel)]="model.username" placeholder="Enter User Name">
            </mat-form-field>
            <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
                <label>
                    User Name is Required
                </label>
            </div>
        </div>
        <div class="form-group col-md-6 col-12 ">
            <mat-form-field>
                <input matInput type="password" required #password="ngModel" id="Password" name="password"
                    [(ngModel)]="model.password" placeholder="Enter Password" pattern="^.{6,10}$">
            </mat-form-field>
            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                <label>
                    Password is Required
                </label>
            </div>
            <div *ngIf="password.errors?.pattern" id="card-errors" class="alert alert-danger col-12"
                style="color:#f2665c;" role="alert">
                Password Must be more than 6 to 10 Chracter or Number
            </div>
        </div>
        <div class="form-group col-md-6 col-12 ">
            <mat-form-field>
                <input matInput type="password" id="confirmpassword" name="confirmpassword"
                    placeholder=" Confirm Password" #confirmPassword="ngModel" ngModel required>
            </mat-form-field>
            <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)"
                class="alert alert-danger">
                <label>
                    Confirm Password is Required
                </label>
            </div>
            <div *ngIf="confirmPassword.valid && model.password !== confirmPassword.value" id="card-errors"
                class="alert alert-danger col-12" style="color:#f2665c;" role="alert">
                Password does not match
            </div>
        </div>
        <div class="form-group col-md-6 col-12 ">
            <mat-form-field>
                <input matInput type="text" required #CNIC="ngModel" id="cnic" name="cnic" [(ngModel)]="model.cnic"
                    placeholder="Enter CNIC" pattern="^[0-9]{13}$">
            </mat-form-field>
            <div *ngIf="CNIC.errors?.required && (CNIC.dirty || CNIC.touched)" class="alert alert-danger">
                <label>
                    Invalid CNIC Number
                </label>
            </div>
            <div *ngIf="CNIC.errors?.pattern" id="card-errors" class="alert alert-danger col-12" style="color:#f2665c;"
                role="alert">
                Invalid CNIC Number Must be Like:1234590832617
            </div>
        </div>
        <div class="form-group col-md-6 col-12 ">
            <mat-form-field>
                <input matInput type="text" required #phoneNumber="ngModel" id="PhoneNumber" name="phoneNumber"
                    [(ngModel)]="model.phone" placeholder="Enter Phone Number" maxlength="15" pattern="^[0-9]{11}$">
            </mat-form-field>
            <div *ngIf="phoneNumber.errors?.required && (phoneNumber.dirty || phoneNumber.touched)"
                class="alert alert-danger">
                <label>
                    Invalid Phone Number
                </label>
            </div>
            <div *ngIf="phoneNumber.errors?.pattern" id="card-errors" class="alert alert-danger col-12"
                style="color:#f2665c;" role="alert">
                Invalid Phone Number Must be Like:03001234567
            </div>
        </div>
        <div class="form-group col-md-6 col-12 ">
            <mat-form-field>
                <input matInput type="text" required #emailAddress="ngModel" id="emailAddress" name="emailAddress"
                    [(ngModel)]="model.email" placeholder="Enter Email Address"
                    pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
            </mat-form-field>
            <div *ngIf="emailAddress.invalid && emailAddress.touched" class="alert alert-danger">
                <label>
                    Email Address is Required
                </label>
            </div>
            <div *ngIf="emailAddress.errors?.pattern" class="alert alert-danger">
                <label>
                    Invalid Email address
                </label>
            </div>
        </div>
        <div class="form-group col-md-6 col-12 ">
            <mat-form-field>
                <input matInput type="text" required #address="ngModel" id="Address" name="address"
                    [(ngModel)]="model.address" placeholder="Enter Address">
            </mat-form-field>
            <div *ngIf="address.invalid && (address.dirty || address.touched)" class="alert alert-danger">
                <label>
                    Address is Required
                </label>
            </div>
        </div>
        <div class="form-group col-md-6 col-12 admin-label">
            <ng-select [items]="rolesTypes" class="form-control" bindLabel="label" bindValue="value" #roles="ngModel"
                id="Roles" name="Roles" [(ngModel)]="model.roles" placeholder="Select Roles"
                [multiple]="true" required></ng-select>

            <div *ngIf="roles.errors?.required && (roles.dirty || roles.touched)" class="alert alert-danger">
                Roles is Required.
            </div>
        </div>
        <div class="form-group col-md-6 col-12 d-flex justify-content-center align-items-center">
            <div class="admin-active-label"><label class="control-label col-2 text-black" for="active">Active</label>
            </div>
            <mat-checkbox [(ngModel)]="model.active" name="active"></mat-checkbox>
        </div>
    </div>
</form>
<button type="button" class="btn btn-outline-warning float-right" [routerLink]="['/admin/user']">Cancel</button>
<button type="button" class="btn btn-outline-warning float-right mr-2" [disabled]="form.invalid"
    (click)="save()">Save</button>