
/* Material */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
 
/* ngx-toastr */
@import '~ngx-toastr/toastr.css';

/* Owl-Date-time Picker*/
@import "~ng-pick-datetime/assets/style/picker.min.css";


/* #Custom CSS# */
body.disable-scroll{
  overflow: hidden;
}

:disabled{
  cursor: not-allowed;
}

.dataTables_empty{
  text-align-last: center;
}

a > i, input[type=checkbox], .fa-times-circle, .oi-magnifying-glass, a {
	cursor: pointer;
}

.right_align {
  align-self: flex-end;
  text-align-last: end;
  }

  /* hides arrow of input type='number' */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
   -webkit-appearance: none; 
   margin: 0; 
}

/** To display owl-time picker on modal popups */
.cdk-overlay-container{
  z-index: 9999 !important;
}